#box {
  /*dimention*/
  height: 10vw;
  width: 10vw;
  /*background*/
  background-color:aqua;
  cursor: pointer;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
} 
#box p {
  font-size: 1.7vw;
  color: white;
}
